* {
    box-sizing: border-box;
}

body {
    background-color: aquamarine;
    background-image: linear-gradient(90deg, lightgreen, lightblue);
}

h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator {
    background-color: black;
    padding: 20px;
    border-radius: 10px;
    width: 20%;
    height: 45vh;
}

/*.calculator form input {
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
}*/

button {
    cursor: pointer;
    width: 50px;
    height: 50px;
}

p {
    background-color: white;
}