* {
    box-sizing: border-box;
}

body {
    background-color: aquamarine;
    background-image: linear-gradient(90deg, lightgreen, lightblue);
}

h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

#wrapper {
    margin-left:auto;
    margin-right:auto;
    /*width:960px;*/
}

@media (min-width: 600px) {


    .calculator {
        background-color: black;
        padding: 20px;
        border-radius: 10px;
        width: 300px;
        height: 400px;
    }
}

/*.calculator form input {
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
}*/

@media (min-width: 600px) {
    button {
        cursor: pointer;
        width: 60px;
        height: 60px;
    }
}

#first, #next{
    background-color: white;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex-direction: column;
    padding: 5x;
    grid-column: 1/ -1;
    font-size: 1.5rem;
}